#This file, according to some guys online, needs to be placed in config
# so that new instances wil get added when the old ones die.
# I tested that this file is actually needed!

#This seems to be wrong as tests verified the instances are added anyway- all you have to do is set
# option_settings:
#  - namespace: aws:elasticbeanstalk:application
#    option_name: Application Healthcheck URL
#     value: "/health"

Resources:
 AWSEBAutoScalingGroup:
   Type: "AWS::AutoScaling::AutoScalingGroup"
   Properties:
     HealthCheckType: "ELB"
     HealthCheckGracePeriod: "600"
