SORT OF WORKS - wirth a try#This sets the instance profile (which speeds up deployments, for some arcane reason, and triggers an alert if it's not set)
This does NOT HELP when creating a new application and environment via Angel.

option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: m1.small
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"

